.projectsBlock {
    min-height: 100vh;
    background-color: #1F1F20;
    padding: 100px 0;

}

.projectsContainer {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.title {
    background-color: antiquewhite;
}

.title h2 {
    font-family: 'Mulish', sans-serif;
}

.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}