.mainBlock {
    height: 100vh;
    background-color: #1F1F20;
    flex-wrap: wrap;
}

.greeting {
    width: 500px;
    background-color: antiquewhite;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
}