.contactsBlock {
    height: 100vh;
    background-color: #6ea8d7;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-evenly;
}
.title {
    background-color: antiquewhite;
}
.contacts {
    border: 1px solid;
}

.form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.button {
    height: 50px;
    width: 100px;
    background-color: #ffffff;
}