.footerBlock {
    min-height: 50px;
    background-color: burlywood;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: antiquewhite;
}

.footer {
    border: 1px solid;
    width: 28%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    height: 70px;
    width: 70px;
    background-color: #cb7676;
}