.skillsBlock {
    height: 100vh;
    background-color: darkorange;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: antiquewhite;
}

.skills {
    border: 1px solid;
    width: 100%;
}